<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Store</title>
    <link href="/css/main.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark sticky-top" style="background-color: #202A44 !important">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">AMAZOFF</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Store</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="row vh-100 w-100">
      <div class="col-lg-3">
        <div class="d-flex flex-column h-100" style="background-color: #1d212d; text-align: center; width: 100%; color: rgb(201, 226, 255);">
          <form class="d-flex p-4" role="search">
            <input class="form-control me-2 searchStyle" type="search" id="search" placeholder="Search" aria-label="Search">
          </form>
          <h5 style="color: grey;">Categories</h5>
          <div class="d-flex flex-row justify-content-center category" id="category1">
            <p class="nomargin">Category 1</p>
            <input class="form-check-input ms-2 my-auto" type="checkbox" id="category1check">
          </div>
          <div class="d-flex flex-row justify-content-center category" id="category2">
            <p class="nomargin">Category 2</p>
            <input class="form-check-input ms-2 my-auto" type="checkbox" id="category2check">
          </div>
          <div class="d-flex flex-row justify-content-center category" id="category3">
            <p class="nomargin">Category 3</p>
            <input class="form-check-input ms-2 my-auto" type="checkbox" id="category3check">
          </div>
          <br>
          <h5 style="color: grey;">Sort Items</h5>
          <a class="sidebarText p-1" onclick="sortAZ()">Sort A-Z</a>
          <a class="sidebarText p-1" onclick="sortZA()">Sort Z-A</a>
          <a class="sidebarText p-1" onclick="sortLH()">Sort By Price (Low-High)</a>
          <a class="sidebarText p-1" onclick="sortHL()">Sort By Price (High-Low)</a>
          <a class="sidebarText p-1" onclick="sortRating()">Sort By Rating</a>
        </div>
      </div>
      <div class="col">
        <div class="d-flex flex-wrap order-last justify-content-center mt-2" id="productHolder"></div>
      </div>
    </div>      
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/main.js"></script>
  
  </body>
</html>
